name: Backend Deploy via FTP

on:
  push:
    branches: [ "main" ]      
    paths:
      - 'backend/**'          

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Publish Backend
      run: dotnet publish backend/CorporateMenuManagementSystem.API/CorporateMenuManagementSystem.API.csproj -c Release -o release_folder

    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./release_folder/
        server-dir: /httpdocs/ # Plesk genelde web kök dizini olarak httpdocs kullanır.
